<div class="spotlight">
	<div class="container">
		<div class="row" style="margin-top: 85px">
			<div class="col-xs-12 sponsors title">
				<h1>Spotlight.</h1>
			</div>
		</div>
	</div>
</div>

<footer>
	<p align="center">
		We are a student group acting independently of the University of California.
		We take full responsibility for our organization and this web site.
	</p>
</footer>
